.link{
    font-family: 'Assistant', sans-serif;
    font-weight: 450;
    font-size: 120%;
    color:#41443E;
    text-decoration:none;
}

.link:hover {
    color:#776950;
}

.activ{
    color:#71703E;
}
