
html { 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepageImg{
  width:100%;
  border-top :4px solid #776950;
  display:block;
  margin-right: auto;
  margin-left: auto; 
}
#slogen{
  font-family: 'Assistant', sans-serif;
  position: absolute;
  top: 40%;
  left: 78%;
  font-size: 300%;
  font-weight: 500;
  color:#383D34;
}

img{
  width:120%
}